<a href="https://colab.research.google.com/github/LEELAKRISHNAMA/PYTHON_PRACTISE/blob/main/tuples_6_4_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 a=int(input())
for i in range(a,200,2):
  print(i)

191
191
193
195
197
199

##tuples

In [11]:
a= ("apple", "banana", "cherry")
print(a)
print(len(a))
b= ("abc", 34, True, 40, "male")
print(b)
print(a[0])
print(a[-1])
print(a[:2])
y = list(a)
y.remove("apple")
a = tuple(y)
print(a+b)
( yellow, red) = a
print(yellow)
print(red)

('apple', 'banana', 'cherry')
3
('abc', 34, True, 40, 'male')
apple
cherry
('apple', 'banana')
('banana', 'cherry', 'abc', 34, True, 40, 'male')
banana
cherry